<template>
  <div class="form-field">
    <label class="d-block" :for="identity">{{ label }}</label>
    <div class="container">
      <input
          :id="identity"
          :name="name"
          :maxlength="maxlength"
          class="form-control"
          :value="modelValue"
          @input="$emit('update:modelValue', $event.target.value)"
      />
      <span>{{ currency }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "MoneyInput",
  props: {
    label: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: false,
    },
    currency: {
      type: String,
      required: false,
    },
    maxlength: {
      type: String,
      required: false,
    },
    modelValue: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      // if the id attribute omitted use the same value as the name.
      identity: this.id ? this.id : this.name,
    };
  },
  methods: {
    emit(value) {
      this.$emit('update:modelValue', value);
    },
  },
}
</script>

<style scoped lang="scss">

input {
  width        : auto;
  max-width    : rem(140px);
  padding-left : rem(75px);
  }

.container {
  position    : relative;
  display     : flex;
  align-items : center;
  }

span {
  position      : absolute;
  left          : em(15px);
  border-right  : rem(1.7px) solid palette(mine-shaft, x-light);
  padding-right : em(15px);
  font-weight   : bold;
  }

</style>
