/* --------------------------
  Variables
--------------------------- */

// Font Stacks
$font-url--google       : 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap';
$font-family-primary    : 'Roboto', Arial, sans-serif;

// Text
$base__font-size  : 16px;

// Descriptive Base Colors
$white      : #FFF;
$black      : #0B0B0B;
$denim      : #0E5CD8;
$mine-shaft : #3A3A3A;

// color Usage
$color-primary   : #0E5CD8;
$color-secondary : $white;

// Color Palette Modifiers
$palettes: (
        denim: (
                light   : lighten($denim, 8%),
                base    : $denim,
                dark    : darken($denim, 8%)
        ),
        mine-shaft: (
                x-light  : lighten($mine-shaft, 35%),
                light    : lighten($mine-shaft, 12%),
                base     : $mine-shaft,
                dark     : darken($mine-shaft, 8%),
                x-dark   : darken($mine-shaft, 16%)
        ),
        black: (
                light    : lighten($black, 10%),
                base     : $black,
                dark     : darken($black, 10%)
        )
);

// Breakpoints
$breakpoints: (
        'xm': 320px,
        'sm': 576px,
        'med': 768px,
        'lg': 992px,
        'xl': 1200px,
);
