<script setup>
import ActiveCampaign from "@/components/ActiveCampaign.vue";
import BaseButton from "@/components/UI/BaseButton.vue";
</script>

<template>
  <div class="mobile">
    <ActiveCampaign />
    <div class="campaign-footer">
      <hr />
      <div class="action-btns d-flex">
        <BaseButton
            label="Generate report"
            class="btn-secondary"
            form="active-campaign"
        />
        <BaseButton
            label="Pause campaign"
            class="btn-primary"
            form="active-campaign"
        />
      </div>
    </div>
  </div>
  <div class="tablet">
    <p class="text-center">Oops! This page is only for mobile devices.</p>
  </div>
</template>
