<script setup>
import CampaignDetails from "@/components/CampaignDetails.vue";
import ActiveCampaign from "@/components/ActiveCampaign.vue";
import BaseButton from "@/components/UI/BaseButton.vue";
</script>

<template>
  <!-- Display only in small screen sizes -->
  <div class="mobile">
    <campaign-details>
      <span class="title">Campaigns</span>
      <!-- Add navigation link to the activecampaign for mobile devices  -->
      <router-link class="nav-link mobile" to="/activecampaign">Active Campaign
                                                                <!-- Arrow icon -->
        <svg class="d-inline-block" xmlns="http://www.w3.org/2000/svg"
             width="9.297"
             height="14.868"
             viewBox="0 0 9.297 14.868">
          <path id="arrow-right" d="M12.363,6,19.8,13.434l-7.434,7.434L10.5,19.009l5.58-5.575L10.5,7.858Z"
                transform="translate(-10.5 -6)"
                fill="currentcolor" />
        </svg>
      </router-link>
    </campaign-details>
  </div>

  <!-- Display only in medium and larger screen sizes -->
  <div class="tablet">
    <div class="grid-container">
      <div class="campaign-details">
        <CampaignDetails />
      </div> <!-- /campaign-details -->

      <ActiveCampaign />

      <div class="campaign-footer">
        <hr />
        <div class="action-btns d-flex">
          <BaseButton
              label="Generate report"
              class="btn-secondary"
              form="active-campaign"
              type="submit"
          />
          <BaseButton
              label="Pause campaign"
              class="btn-primary"
              form="active-campaign"
              type="button"
          />
        </div>
      </div>
    </div>

  </div> <!-- /grid-container -->

</template>
