<template>
  <!-- Teleport to the nav when component is mounted! -->
  <teleport to="nav" v-if="isMounted">
    <!-- Display the navigation link only if the route is not home -->
    <router-link class="nav-link" to="/" v-if="!homePage">
      <!-- Arrow icon -->
      <svg class="d-inline-block" xmlns="http://www.w3.org/2000/svg"
           width="10.558"
           height="15.622"
           viewBox="0 0 10.558 15.622">
        <path id="arrow-right" d="M12.363,6,19.8,13.434l-7.434,7.434L10.5,19.009l5.58-5.575L10.5,7.858Z"
              transform="matrix(-0.996, 0.087, -0.087, -0.996, 21.541, 19.873)"
              fill="currentcolor"
        />
      </svg>
      Campaign details
    </router-link>
  </teleport>

  <form id="active-campaign">
      <fieldset>
        <legend>Active campaign - Boost my content</legend>
        <!-- Campaign name -->
        <BaseInput
            label="Campaign name"
            name="campaignName"
            maxlength="25"
            v-model="fields.campaignName"
        />
        <!-- Content link-->
        <BaseInput
            label="Content link"
            name="contentLink"
            type="url"
            v-model="fields.contentLink"
        />
        <!-- Add categories-->
        <BaseInput
            label="Add categories"
            name="categories"
            v-model="fields.categories"
        />
        <!-- Target location-->
        <BaseInput
            label="Target location"
            name="targetLocation"
            v-model="fields.targetLocation"
        />
      </fieldset>

      <fieldset>
        <legend>Run daily for 21 days</legend>
        <!-- Start date of the campaign -->
        <BaseInput
            label="Start date of the campaign"
            name="startDate"
            type="date"
            v-model="fields.startDate"
        />
        <!-- End date of the campaign -->
        <BaseInput
            label="End date of the campaign"
            name="endDate"
            type="date"
            v-model="fields.endDate"
        />
        <!-- Daily spending limit -->
        <MoneyInput
            label="Daily spending limit"
            name="dailyLimit"
            currency="EUR"
            maxlength="6"
            v-model="fields.dailySpendingLimit"
        />
        <!-- CPC -->
        <MoneyInput
            label="Cost per click (CPC)"
            name="CPC"
            currency="EUR"
            maxlength="6"
            v-model="fields.CPC"
        />
      </fieldset>
  </form>
</template>

<script>
import BaseInput from "@/components/form/BaseInput.vue";
import MoneyInput from "@/components/form/MoneyInput.vue";

export default {
  name: "ActiveCampaign",
  components: {BaseInput, MoneyInput},
  data: function () {
    return {
      isMounted: false,
      // Preset data
      fields: {
        campaignName: 'Boost my content',
        contentLink: 'www.example.domain.com',
        categories: 'Lifestyle',
        targetLocation: 'ITALY',
        startDate: '2021-04-04',
        endDate: '2021-05-25',
        dailySpendingLimit: '3',
        CPC: '00,35',
      }
    }
  },
  computed: {
    // Check to see if path is home
    homePage() {
      return this.$route.path === "/";
    }
  },
  mounted() {
    this.isMounted = true
  }
}
</script>
