<template>
  <!-- Teleport to the nav when component is mounted! -->
  <teleport to="nav" v-if="isMounted">
    <!-- A slot for adding extra code like navigation links -->
    <slot />
  </teleport>

  <h3 class="text-center">Campaign details</h3>

  <div class="card d-flex">
    <div class="left">
      <p>5</p>
      <p>792,891</p>
      <p>€ 1.200,91</p>
      <p>7 M</p>
    </div>
    <div class="right">
      <p>Days remaining</p>
      <p>Clicks</p>
      <p>Spent</p>
      <p>People reached</p>
    </div>
  </div> <!-- card -->

</template>

<script>
export default {
  name: "CampaignDetails",
  data: function () {
    return {
      isMounted: false
    }
  },
  mounted() {
    this.isMounted = true
  }
}
</script>

<style scoped lang="scss">
.card {
  width           : 80%;
  height          : 187px;
  @include mq(med) {
    height : 300px;
    }
  border-radius   : 5px;
  box-shadow      : 0 3px 7px rgba(0, 0, 0, 0.16);
  margin          : 0 auto;
  justify-content : space-evenly;
  padding         : 20px 0;

  .left {
    text-align : right;
    color      : $color-primary;
    p {
      font-weight : bold;
      }
    }
  }

.nav-link, a:visited {
  color   : $color-primary;
  display : inline-block;
  }

</style>
