<template>
  <div class="wrapper">
    <!-- navbar -->
    <nav class="nav d-flex">
    </nav>
    <router-view />
  </div>
</template>

<style lang="scss">
/* --------------------------
  General styles
--------------------------- */

/* css reset */
*, ::before, ::after {
  box-sizing : border-box;
  }

body {
  margin : 0;
  }

h1 {
  font-size : 2rem;
  }

h2 {
  font-size : 1.5rem;
  }

h3, fieldset:nth-child(1) legend {
  font-size : 1.17rem;
  @include mq(med) {
    font-size: 1.5rem;
    }
  }

a {
  text-decoration : none;
  }

img, svg {
  display        : block;
  vertical-align : middle;
  max-width      : 100%;
  height         : auto;
  }

fieldset {
  border  : none;
  padding : em(10px) em(5px);
  }

legend {
  font-weight : 700;
  padding-top : em(20px);
  font-size   : 1.17rem;
  }

label {
  margin : em(20px) 0 em(5px);
  font-weight: bold;
  }

input {
  width         : 100%;
  padding       : em(12px) em(20px);
  border        : em(1.5px) solid palette(mine-shaft, x-light);
  border-radius : rem(5px);
  }

/* Helper class */
.wrapper {
  max-width     : 1200px;
  margin        : 0 auto;
  padding-left  : 0.938rem;
  padding-right : 0.938rem;
  }

.d-inline-block {
  display : inline-block;
  }

.d-block {
  display : block;
  }

.d-flex {
  display : flex;
  }

.text-center {
  text-align : center;
  }

body {
  font-family : $font-family-primary;
  font-size   : $base__font-size;
  font-weight : 400;
  }

hr {
  margin-top   : 25px;
  border-color : palette(mine-shaft, x-light);
  opacity      : 0.3;
  }

.nav {
  justify-content : space-between;
  align-items     : center;
  padding         : 1em 0;
  }

.title {
  font-size : 1.563rem;
  @include mq(med) {
    font-size: 1.9rem;
    }
  }

// form
.form-control {
  padding : 1.32rem 0.75rem;
  height  : calc(1.5em + .75rem + 2px);
  }

.action-btns {
  justify-content : space-between;
  margin          : 40px 0;
  @include mq(med) {
    justify-content : end;
    }
  }

// buttons
.btn-primary {
  background : $color-primary;
  color      : $color-secondary;
  border: none;
  transition: box-shadow .3s ease-in;
  &:hover{
     box-shadow: 0 rem(10px) rem(5px) palette(denim, dark);
    }
  }

.btn-secondary {
  background : $color-secondary;
  color      : $color-primary;
  border     : 2px solid $color-primary;
  @include mq(med) {
    margin-right : em(30px);
    }
  transition: box-shadow .3s ease-in;
  &:hover{
    box-shadow: 0 rem(10px) rem(5px) palette(denim, light);
    }
  }

//grid
.grid-container {
  display               : grid;
  grid-template-columns : minmax(400px, auto) 1fr;
  grid-template-rows    : auto auto;
  grid-template-areas   : "CampaignDetails ActiveCampaign"
                        "CampaignFooter CampaignFooter";
  grid-gap              : 20px;
  }

.campaign-details {
  grid-area : CampaignDetails;
  }

.form {
  grid-area : ActiveCampaign;
  }

.campaign-footer {
  grid-area : CampaignFooter;
  }

.tablet fieldset {
  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-between;
  }

.tablet fieldset:nth-child(1) .form-field {
  width : rem(300px);
  }

// responsive behavior
.mobile {
  display : block;
  @include mq(med) {
    display : none !important;
    }
  }

// Medium devices
.tablet {
  display : none;
  @include mq(med) {
    display : block;
    }
  }
</style>
