<template>
  <button
      v-bind="$attrs"
  >
    {{ label }}
  </button>
</template>

<script>
export default {
  name: "BaseButton",
  props: {
    label: {
      type: String,
      required: true,
    },
  }
}
</script>

<style scoped lang="scss">
 button {
   padding: em(15px) em(25px);
   border-radius: rem(7px);
   font-weight : bold;
   @include mq(med) {
     font-size: 1em;
     }
   &:hover {
     cursor: pointer;
     }
   }

</style>
